1.  Any leak, crash, undefined behavior or norm error means 0 to the project.
2.  Number of philosophers are sitting at a round table doing one of three things: EATING, THINKING, SLEEPING.
3.  While eating, they are not thinking or sleeping, while sleeping, they are not eating or thinking and of course, 
    while thinking, they are not sleeping or eating.
4.  The philosophers sit at a circular table with a large bowl of spaghetti int the center.
5.  There are some forks ont the table.
6.  As spaghetti is difficult to serve and eat with a single fork, it is assumed that a philosopher must eat with two forks,
    one for each hand.
7.  The philosophers must never be starving.
8.  Every philosopher needs to eat.
9.  Philosophers don't speak with each other.
10. Philosophers don't know when other philosopher is about to die.
11. Each time a philosopher has finished eating, he will drop his forks and start sleeping.
12. When a philosopher is done sleeping, he will start thinking.
13. The simulation stops when a philosopher dies.
14. Each program should have the same options:
    a)  number of philosophers,
    b)  time to die,
    c)  time to sleep,
    d)  number of times each philosopher must eat.